In [7]:
from __future__ import annotations
import attrs
import attr
import typing

In [5]:
import seaborn
import pandas as pd
iris_df = seaborn.load_dataset("iris")
print(iris_df.shape)
print(iris_df.head())
iris_df.head()

(150, 5)
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
import attrs
import attr

@attr.s(frozen=True, slots=True)
class IrisEntry:
    sepal_length: int = attrs.field(converter=float)
    sepal_width: int = attrs.field(converter=float)
    petal_length: int = attrs.field(converter=float)
    petal_width: int = attrs.field(converter=float)
    species: str = attrs.field(converter=str) 
    
    @classmethod
    def from_dataframe_row(cls, row: pd.Series):
        new_obj: cls = cls(
            sepal_length = row['sepal_length'],
            sepal_width = row['sepal_width'],
            petal_length = row['petal_length'],
            petal_width = row['petal_width'],
            species = row['species'],
        )
        return new_obj
    
    def sepal_area(self) -> float:
        return self.sepal_length * self.sepal_width
    
    def petal_area(self) -> float:
        return self.petal_length * self.petal_width
    
irises = list()
for ind,row in iris_df.iterrows():
    irises.append(IrisEntry.from